<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/Areas/admin/Content/assets/images/required/ico/favicon.ico">
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Areas/admin/Content/assets/images/required/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Areas/admin/Content/assets/images/required/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Areas/admin/Content/assets/images/required/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Areas/admin/Content/assets/images/required/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="~/Areas/admin/Content/assets/images/required/ico/favicon.png">
    <title>@ViewBag.Title</title>
    <link type="text/css" href="~/Areas/admin/Content/assets/css/required/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link type="text/css" href="~/Areas/admin/Content/assets/js/required/jquery-ui-1.11.0.custom/jquery-ui.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Areas/admin/Content/assets/js/required/jquery-ui-1.11.0.custom/jquery-ui.structure.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Areas/admin/Content/assets/js/required/jquery-ui-1.11.0.custom/jquery-ui.theme.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Areas/admin/Content/assets/css/required/mCustomScrollbar/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Areas/admin/Content/assets/css/required/icheck/all.css" rel="stylesheet" />
    <link type="text/css" href="~/Areas/admin/Content/assets/fonts/metrize-icons/styles-metrize-icons.css" rel="stylesheet">

    <!-- Optional CSS Files -->
    <link type="text/css" href="~/Areas/admin/Content/assets/css/optional/jqvmap/jqvmap.css" rel="stylesheet" />
    <link type="text/css" href="~/Areas/admin/Content/assets/css/optional/jqvmap/circloid-jqvmap.css" rel="stylesheet" />
    <link type="text/css" href="~/Areas/admin/Content/assets/css/optional/fullcalendar/fullcalendar.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Areas/admin/Content/assets/css/optional/fullcalendar/circloid-fullcalendar.css" rel="stylesheet" />
    <link type="text/css" href="~/Areas/admin/Content/assets/css/optional/fullcalendar/fullcalendar.print.css" rel="stylesheet" media="print" />
    <link type="text/css" href="~/Areas/admin/Content/assets/css/optional/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    @RenderSection("css", false)
    <!-- add CSS files here -->
    <!-- More Required CSS Files -->
    <link type="text/css" href="~/Areas/admin/Content/assets/css/styles-core.css" rel="stylesheet" />
    <link type="text/css" href="~/Areas/admin/Content/assets/css/styles-core-responsive.css" rel="stylesheet" />

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="~/Areas/admin/Content/assets/js/required/misc/ie10-viewport-bug-workaround.js"></script>

    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</head>
<body>

    <div class="container-fluid">
        <!-- START Header Container -->
        <div id="header-container">
            <div class="header-bar navbar navbar-inverse" role="navigation">
                <!-- NOTE TO READER: Accepts the following class(es) "navbar-fixed-top" class -->
                <div class="container">
                    <div class="navbar-header">
                        <!-- START logo -->
                        <div class="logo">
                            <a href='@Url.Action("Index", "Home", null, Request.Url.Scheme)'>
                                <img class="default-logo" src="~/Areas/admin/Content/assets/images/required/logo-default.png" width="156" height="44" alt="Logo" />
                                <img class="small-logo" src="~/Areas/admin/Content/assets/images/required/logo-small.png" width="48" height="44" alt="Logo" />
                            </a>
                        </div>
                        <!-- END logo -->
                        <!-- START Mobile Menu Toggle -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- END Mobile Menu Toggle -->
                        <!-- START Header Info Container -->
                        <div class="header-info">
                            <!-- START Header User Profile -->
                            <div class="header-profile">
                                <!-- NOTE TO READER: Accepts the following class(es) "animate" class -->
                                <ul class="header-profile-menu">
                                    <li>
                                        @{

                                            if (Session["AdminId"] != null)
                                            {
                                              {Html.RenderAction("GetAdminInformation", "Login"); }

                                                <ul>
                                                    @{Html.RenderAction("ExitAdminSession", "Login"); }
                                                </ul>
                                            }
                                            else
                                            {
                                                Session.Abandon();
                                                Response.Redirect("~/Admin/Login/Index");
                                            }
                                        }
                                    </li>
                                </ul>
                            </div>
                            <!-- END Header User Profile -->


                        </div>
                        <!-- END Header Info Container -->

                    </div>
                </div>
            </div>
        </div>
        <!-- END Header Container -->
        <!-- START Body Container -->
        <div id="body-container">

            <!-- START Left Column -->
            <div id="left-column" class="">
                <!-- NOTE TO READER: Accepts the following class(es) "menu-icon-only", "fixed" class -->
                <div id="mainnav">
                    <ul class="mainnav">
                        <!-- NOTE TO READER: Accepts the following class(es) "animate" class -->
                        @*<li class="menu-item-top selected">*@
                        <li class="menu-item-top">
                            <a href='@Url.Action("Index", "Home", null, Request.Url.Scheme)' class="top">
                                <span class="main-menu-icon">
                                    <span aria-hidden="true" class="icon icon-grid-big"></span>
                                </span>
                                <span class="main-menu-text">Anasayfa</span>
                            </a>
                        </li>
                      
                        <li class="menu-item-top">
                            <a href='@Url.Action("Index", "Category", null, Request.Url.Scheme)' class="top">
                                <span class="main-menu-icon">
                                    <span aria-hidden="true" class="icon icon-block-menu"></span>
                                </span>
                                <span class="main-menu-text">Kategori İşlemleri</span>
                            </a>
                        </li>
                        <li class="menu-item-top">
                            <a href="#" class="top">
                                <span class="main-menu-icon">
                                    <span aria-hidden="true" class="icon icon-block-menu"></span>
                                </span>
                                <span class="badge pull-right-corner hidden-collapsed highlight-color-green">2</span>
                                <span class="main-menu-text">Marka İşlemleri</span>
                            </a>
                            <ul>
                                <li><a href='@Url.Action("Index", "Brand", null, Request.Url.Scheme)'>Marka Listesi</a></li>
                                <li><a href='@Url.Action("Create", "Brand", null, Request.Url.Scheme)'>Marka Ekle</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-top">
                            <a href="#" class="top">
                                <span class="main-menu-icon">
                                    <span aria-hidden="true" class="icon icon-block-menu"></span>
                                </span>
                                <span class="badge pull-right-corner hidden-collapsed highlight-color-green">2</span>
                                <span class="main-menu-text">Ürün İşlemleri</span>
                            </a>
                            <ul>
                                <li><a href='@Url.Action("Index", "Product", null, Request.Url.Scheme)'>Ürün Listesi</a></li>
                                <li><a href='@Url.Action("Create", "Product", null, Request.Url.Scheme)'>Ürün Ekle</a></li>
                                @*<li><a href='@Url.Action("Filter", "Product", null, Request.Url.Scheme)'>Ürün Filtreleri</a></li>*@
                            </ul>
                        </li>

                        <li class="menu-item-top">
                            <a href='@Url.Action("Index", "Showcase", null, Request.Url.Scheme)' class="top">
                                <span class="main-menu-icon">
                                    <span aria-hidden="true" class="icon icon-block-menu"></span>
                                </span>
                                <span class="main-menu-text">Vitrin İşlemleri</span>
                            </a>
                        </li>

                        <li class="menu-item-top">
                            <a href="#" class="top">
                                <span class="main-menu-icon">
                                    <span aria-hidden="true" class="icon icon-block-menu"></span>
                                </span>
                                <span class="badge pull-right-corner hidden-collapsed highlight-color-green">2</span>
                                <span class="main-menu-text">Slider İşlemleri</span>
                            </a>
                            <ul>
                                <li><a href='@Url.Action("Index", "Slider", null, Request.Url.Scheme)'>Slider Listesi</a></li>
                                <li><a href='@Url.Action("Create", "Slider", null, Request.Url.Scheme)'>Slider Ekle</a></li>
                            </ul>
                        </li>

                        <li class="menu-item-top">
                            <a href="#" class="top">
                                <span class="main-menu-icon">
                                    <span aria-hidden="true" class="icon icon-block-menu"></span>
                                </span>
                                <span class="badge pull-right-corner hidden-collapsed highlight-color-green">2</span>
                                <span class="main-menu-text">Müşteri İşlemleri</span>
                            </a>
                            <ul>
                                <li><a href='@Url.Action("Index", "Customer", null, Request.Url.Scheme)'>Müşteri Listesi</a></li>
                                <li><a href='@Url.Action("Create", "Customer", null, Request.Url.Scheme)'>Müşteri Ekle</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-top">
                            <a href='@Url.Action("Index", "Order", null, Request.Url.Scheme)' class="top">
                                <span class="main-menu-icon">
                                    <span aria-hidden="true" class="icon icon-block-menu"></span>
                                </span>
                                <span class="main-menu-text">Siparişler</span>
                            </a>
                        </li>

                        <li class="menu-item-top">
                            <a href='@Url.Action("Index", "Setting", null, Request.Url.Scheme)' class="top">
                                <span class="main-menu-icon">
                                    <span aria-hidden="true" class="icon icon-block-menu"></span>
                                </span>
                                <span class="main-menu-text">İletişim Bilgileri</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <!-- END Left Column -->
            <!-- START Right Column -->
            <div id="right-column">
                <div class="right-column-content">
                    @RenderBody()
                </div>

                <!-- START Footer Container -->
                <div id="footer-container">
                    <div class="footer-content">
                        &copy; <a href="https://www.facebook.com/muhammed.yilmaz.ym">Muhammed Yılmaz </a> & <a href="https://www.facebook.com/mihriinisa?fref=ts">Hatice Nisa An </a><span style="color:#FF0000;">&#10084;</span>tarafından kodlanmıştır ve <a href="http://base5builder.com/" target="_blank" style="font-weight:300;color:#ffffff;background:#1d1d1d;padding:0 3px;">PLATO<span style="color:#ffa733;font-weight:bold"> MYO</span></a> tarafından desteklenmiştir.
                    </div>
                </div>
                <!-- END Footer Container -->

            </div>
            <!-- END Right Column -->

        </div>
        <!-- END Body Container -->
    </div>

    @RenderSection("DeletePopup", false)

    @RenderSection("UpdatePopup", false)



    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Required JS Files -->
    <script type="text/javascript" src="~/Areas/admin/Content/assets/js/required/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="~/Areas/admin/Content/assets/js/required/jquery-ui-1.11.0.custom/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Areas/admin/Content/assets/js/required/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Areas/admin/Content/assets/js/required/jquery.easing.1.3-min.js"></script>
    <script type="text/javascript" src="~/Areas/admin/Content/assets/js/required/jquery.mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="~/Areas/admin/Content/assets/js/required/misc/jquery.mousewheel-3.0.6.min.js"></script>
    <script type="text/javascript" src="~/Areas/admin/Content/assets/js/required/misc/retina.min.js"></script>
    <script type="text/javascript" src="~/Areas/admin/Content/assets/js/required/icheck.min.js"></script>
    <script type="text/javascript" src="~/Areas/admin/Content/assets/js/required/misc/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="~/Areas/admin/Content/assets/js/required/circloid-functions.js"></script>

    <!-- Optional JS Files -->
    <script type="text/javascript" src="~/Areas/admin/Content/assets/js/optional/circloid-functions-optional.js"></script>
    <script type="text/javascript" src="~/Areas/admin/Content/assets/js/optional/jqvmap/jquery.vmap.min.js"></script>
    <script type="text/javascript" src="~/Areas/admin/Content/assets/js/optional/jqvmap/maps/jquery.vmap.world.js"></script>
    <script type="text/javascript" src="~/Areas/admin/Content/assets/js/optional/jqvmap/data/jquery.vmap.sampledata.js"></script> <!-- JQVMap Sample Data -->
    <script type="text/javascript" src="~/Areas/admin/Content/assets/js/optional/flot/jquery.flot.min.js"></script>
    <script type="text/javascript" src="~/Areas/admin/Content/assets/js/optional/flot/jquery.flot.JUMlib.min.js"></script>
    <script type="text/javascript" src="~/Areas/admin/Content/assets/js/optional/flot/jquery.flot.resize.min.js"></script>
    <script type="text/javascript" src="~/Areas/admin/Content/assets/js/optional/flot/jquery.flot.tooltip.min.js"></script>
    <script type="text/javascript" src="~/Areas/admin/Content/assets/js/optional/flot/jquery.flot.pie.min.js"></script>
    <script type="text/javascript" src="~/Areas/admin/Content/assets/js/optional/flot/jquery.flot.stack.min.js"></script>
    <script type="text/javascript" src="~/Areas/admin/Content/assets/js/optional/flot/jquery.flot.time.min.js"></script>
    <script type="text/javascript" src="~/Areas/admin/Content/assets/js/optional/flot/jquery.flot.orderBars.js"></script>
    <script type="text/javascript" src="~/Areas/admin/Content/assets/js/optional/easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script type="text/javascript" src="~/Areas/admin/Content/assets/js/optional/misc/moment.js"></script>
    <script type="text/javascript" src="~/Areas/admin/Content/assets/js/optional/fullcalendar/fullcalendar.min.js"></script>
    <script type="text/javascript" src="~/Areas/admin/Content/assets/js/optional/bootstrap-datetimepicker.min.js"></script>
    @RenderSection("scripts", false)
    <!-- add optional JS plugin files here -->
    <!-- REQUIRED: User Editable JS Files -->
    <script type="text/javascript" src="~/Areas/admin/Content/assets/js/script.js"></script>
    <!-- add additional User Editable files here -->
    <!-- Demo JS Files -->
    <script type="text/javascript" src="~/Areas/admin/Content/assets/js/demo-files/index.js"></script>

</body>
</html>