@model _00_DataAccessLayer.ViewModel.CustomerModel
@{
    ViewBag.Title = "Üye Ol";
    Layout = "~/Views/Shared/_userLayoutPage.cshtml";
}

<section id="breadcrumb">

    <div class="container">
        <div class="le-breadcrumb inline">
            <div class="iconic-nav-bar">
                <div class="icon-holder">
                    <i class="fa fa-chain"></i>
                    <span class="triangle"></span>
                </div>
                <div class="bar">
                    <ul>
                        <li><a href="@Url.Action("Index", "Home", new { id = UrlParameter.Optional })">Anasayfa</a></li>
                        <li class="active">Üye Ol</li>
                    </ul>

                </div>

            </div>
        </div>
    </div>
</section>


<section id="checkout" class="page-holder ">
    <div class="container no-padding">

        <div class="col-xs-12 col-md-12">


            <div class="box-holder">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        @using (Html.BeginForm())
                        {
                            <div class="table-form ">

                                <div class="field-group">
                                    <label>@Html.DisplayNameFor(model => model.CustomerName)</label>
                                    @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "le-input" } })

                                    <div style="color:#d32f2f">
                                        @Html.ValidationMessageFor(model => model.CustomerName)
                                    </div>
                                </div>
                                <div class="field-group">
                                    <label>@Html.DisplayNameFor(model => model.CustomerSurname)</label>
                                    @Html.EditorFor(model => model.CustomerSurname, new { htmlAttributes = new { @class = "le-input" } })
                                    <div style="color:#d32f2f">
                                        @Html.ValidationMessageFor(model => model.CustomerSurname)
                                    </div>
                                </div>
                                <div class="field-group">
                                    <label>@Html.DisplayNameFor(model => model.EmailAddress)</label>
                                    @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "le-input" } })
                                    <div style="color:#d32f2f">
                                        @Html.ValidationMessageFor(model => model.EmailAddress)
                                    </div>
                                </div>

                                <div class="field-group">
                                    <label>@Html.DisplayNameFor(model => model.Password)</label>
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "le-input", Type = "password" } })
                                    <div style="color:#d32f2f">
                                        @Html.ValidationMessageFor(model => model.Password)
                                    </div>

                                </div>
                                <div class="field-group">
                                    <label>@Html.DisplayNameFor(model => model.ConfirmPassword)</label>
                                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "le-input", Type = "password" } })
                                    <div style="color:#d32f2f">
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                    </div>
                                </div>
                            </div>
                            <div class="text-right button-holder">
                                <input type="submit" class="btn le-btn btn-iconic form-control" value="EKLE" />
                            </div>
                            <br />
                        }

                    </div>

                    
                </div>

            </div>

        </div>

    </div>



</section>