@model _00_DataAccessLayer.ViewModel.ProductModel
@{
    ViewBag.Title = "Ürün Ekle";
    Layout = "~/Areas/admin/Views/Shared/_adminLayoutPage.cshtml";
}
@section css{
    <link type="text/css" href="~/Areas/admin/Content/assets/css/optional/switchery.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Areas/admin/Content/assets/css/optional/powerange.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Areas/admin/Content/assets/css/optional/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Areas/admin/Content/assets/css/optional/bootstrap-tagsinput.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Areas/admin/Content/assets/css/optional/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Areas/admin/Content/assets/css/optional/bootstrap-multiselect.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Areas/admin/Content/assets/css/demo-files/form-extras.css" rel="stylesheet" />
}
<div class="col-md-12">
    <div class="block">
        <div class="block-heading">
            <div class="main-text h2">
                Ürün Ekle
            </div>
            <div class="block-controls">
                <span aria-hidden="true" class="icon icon-cross icon-size-medium block-control-remove"></span>
                <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
            </div>
        </div>
        <div class="block-content-outer">
            <div class="block-content-inner">

                @using (Html.BeginForm())
                {

                    <div class="form-group">
                        <label for="input-demo-n-1">@Html.DisplayNameFor(model => model.ProductName)</label>
                        @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control rounded" } })
                        <div style="color:#d32f2f">
                            @Html.ValidationMessageFor(model => model.ProductName)
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="input-demo-n-1">@Html.DisplayNameFor(model => model.SeoUrl)</label>
                        @Html.EditorFor(model => model.SeoUrl, new { htmlAttributes = new { @class = "form-control rounded" } })
                        <div style="color:#d32f2f">
                            @Html.ValidationMessageFor(model => model.SeoUrl)
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="input-demo-n-1">@Html.DisplayNameFor(model => model.ProductPrice)</label>
                        @Html.EditorFor(model => model.ProductPrice, new { htmlAttributes = new { @class = "form-control rounded" } })
                        <div style="color:#d32f2f">
                            @Html.ValidationMessageFor(model => model.ProductPrice)
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="input-demo-n-1">@Html.DisplayNameFor(model => model.Rsp)</label>
                        @Html.EditorFor(model => model.Rsp, new { htmlAttributes = new { @class = "form-control rounded" } })
                        <div style="color:#d32f2f">
                            @Html.ValidationMessageFor(model => model.Rsp)
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="input-demo-n-1">@Html.DisplayNameFor(model => model.ProductShortDescription)</label>
                        @Html.EditorFor(model => model.ProductShortDescription, new { htmlAttributes = new { @class = "form-control rounded" } })
                        <div style="color:#d32f2f">
                            @Html.ValidationMessageFor(model => model.ProductShortDescription)
                        </div>
                    </div>

                    <div class="form-group">
                        @{Html.RenderAction("CreateBrandDropdownPartial", "Product");}
                    </div>

                    <div class="form-group">
                        <label for="input-demo-n-1">@Html.DisplayNameFor(model => model.Sku)</label>
                        @Html.EditorFor(model => model.Sku, new { htmlAttributes = new { @class = "form-control rounded" } })
                        <div style="color:#d32f2f">
                            @Html.ValidationMessageFor(model => model.Sku)
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="input-demo-n-1">@Html.DisplayNameFor(model => model.Stock)</label>
                        @Html.EditorFor(model => model.Stock, new { htmlAttributes = new { @class = "form-control rounded" } })
                        <div style="color:#d32f2f">
                            @Html.ValidationMessageFor(model => model.Stock)
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="input-demo-n-1">@Html.DisplayNameFor(model => model.WatCode)</label>
                        @Html.EditorFor(model => model.WatCode, new { htmlAttributes = new { @class = "form-control rounded" } })
                        <div style="color:#d32f2f">
                            @Html.ValidationMessageFor(model => model.WatCode)
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="input-demo-n-1">@Html.DisplayNameFor(model => model.ProductCriterion)</label>
                        @Html.EditorFor(model => model.ProductCriterion, new { htmlAttributes = new { @class = "form-control rounded" } })
                        <div style="color:#d32f2f">
                            @Html.ValidationMessageFor(model => model.ProductCriterion)
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="input-demo-n-1">@Html.DisplayNameFor(model => model.SpeacilPrice)</label>
                        @Html.EditorFor(model => model.SpeacilPrice, new { htmlAttributes = new { @class = "form-control rounded" } })
                        <div style="color:#d32f2f">
                            @Html.ValidationMessageFor(model => model.SpeacilPrice)
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="input-demo-n-1">@Html.DisplayNameFor(model => model.BarcodeCode)</label>
                        @Html.EditorFor(model => model.BarcodeCode, new { htmlAttributes = new { @class = "form-control rounded" } })
                        <div style="color:#d32f2f">
                            @Html.ValidationMessageFor(model => model.BarcodeCode)
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="input-demo-n-1">@Html.DisplayNameFor(model => model.CargoPrice)</label>
                        @Html.EditorFor(model => model.CargoPrice, new { htmlAttributes = new { @class = "form-control rounded" } })
                        <div style="color:#d32f2f">
                            @Html.ValidationMessageFor(model => model.CargoPrice)
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="input-demo-n-1">@Html.DisplayNameFor(model => model.N11)</label>
                        <div class="checkbox switchery-group">
                            @Html.EditorFor(model => model.N11, new { htmlAttributes = new { @class = "js-switch-blue js-switch-big" } })
                        </div>
                    </div>

                        <div class="form-group">
                            <label for="input-demo-n-1">@Html.DisplayNameFor(model => model.ProductDescription)</label>
                            @Html.EditorFor(model => model.ProductDescription, new { htmlAttributes = new { @class = "form-control", @id = "demo-ckeditor", @rows = "3" } })
                            @*<textarea rows="3" name="ckeditor" id="demo-ckeditor" class="form-control"></textarea>*@
                        </div>

                        <br />

                        <div class="form-group">
                            <input type="submit" class="btn btn-primary form-control rounded" value="EKLE" />
                        </div>

                      }
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/Areas/admin/Content/assets/js/optional/jquery.mask.min.js"></script>
    <script type="text/javascript" src="~/Areas/admin/Content/assets/js/optional/switchery.min.js"></script>
    <script type="text/javascript" src="~/Areas/admin/Content/assets/js/optional/powerange.min.js"></script>
    <script type="text/javascript" src="~/Areas/admin/Content/assets/js/optional/jquery.bootstrap-touchspin.min.js"></script>
    <script type="text/javascript" src="~/Areas/admin/Content/assets/js/optional/bootstrap-tagsinput.min.js"></script>
    <script type="text/javascript" src="~/Areas/admin/Content/assets/js/optional/misc/typeahead.bundle.min.js"></script>
    <script type="text/javascript" src="~/Areas/admin/Content/assets/js/optional/misc/moment.js"></script>
    <script type="text/javascript" src="~/Areas/admin/Content/assets/js/optional/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/Areas/admin/Content/assets/js/optional/bootstrap-multiselect.min.js"></script>
    <script type="text/javascript" src="~/Areas/admin/Content/assets/js/optional/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/Areas/admin/Content/assets/js/optional/ckeditor/adapters/jquery.js"></script>
    <script type="text/javascript" src="~/Areas/admin/Content/assets/js/demo-files/form-extras.js"></script>
}

@*<script type="text/javascript" src="~/Areas/admin/Content/assets/js/required/jquery-1.11.1.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var TableUrl = '@Url.Action("CreateBrandDropdownPartial", "Product")';
            var marka = $('#markalar');
            $.ajax({
                type: 'POST',
                data: "{}",
                url: TableUrl,
                dataType: "JSON",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $(marka).append("<option value='0'>Marka Seçiniz...</option>");
                    $.each(msg.d, function (i) {
                        $(marka).append("<option value='" + this.BrandId + "'>" + this.BrandName + "</option>");
                    });

                },
                error: "Hata!"
            });


        });

    </script>*@